@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h1>Vaktbytte</h1>
    <p class="lead">Dette er en prototype på en nettside som kan brukes for å gjøre bytting av vakter enklere</p>
    <p><a href="/change" class="btn btn-primary btn-large">Sett igang &raquo;</a></p>
</div>
<div class="row">
    <div class="span4">
        <h2>Hvordan starte</h2>
        <p>Login med ditt telefonnummer og din hemmelige kode. Da får du en oversikt over alle vakter som er noen ønsker å bytte bort.</p>

    </div>
   
</div>